@font-face {
    font-family: montserrat;
    src: url(~@/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: varela;
    src: url(~@/fonts/Varela_Round/VarelaRound-Regular.ttf);
}